* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #f5f16e;
   font-family: 'Corben', cursive;
}

h1 {
    text-align: center;
}

.contentContainer {
    margin: 0 auto;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
}

.productCard {
    margin: 10px 0 10px 0;
    padding: 3px 1%;
    width: 30%;
    
    border: 1px solid lightblue;
    box-shadow: 2px 2px 50px #595f00;
    background-color: #77ffcbf8;
    font-size: 12px;
}

.productTitle {
    text-align: center;
}

img {
    height:275px;
    width: 100%;
    size: 100%;
}


.productText {
    text-align: justify;
}

h6 {
    margin: 2px -3.6% 2px -3.6%;
    font-size: 16px;
    padding: 2px 0 2px 3.6%;
    background-color: #02b6a7;
    color: #f5f16e;
}

.contentContainer footer {
    font-size: 12px;
}

li {
    list-style: none;
    font-weight: bold;
    font-size: 10px;
}

.ul_title {
    font-size: 18px;
}

/* This moves the prices to the right of the card */
ul {
    display: block;
    position: relative;
    font-size: 10px;
}

.cost {
    display:inline-block;
    position:absolute;
    right:0;
}

/* it does this by making the parent relative and the position right on the child */

.oosDiv {
    position: relative;
}

.oos {
    position: absolute;
    
}

@media only screen and (max-width: 770px){
    .productCard {
        width: 100%;
    }

    h6 {
        margin: 2px -1% 2px -1%;
        font-size: 16px;
        padding: 2px 0 2px 3.6%;
        background-color: #02b6a7;
        color: #f5f16e;
    }
}